/* Global CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');
*{margin: 0px;padding: 0px;}
.clear{clear: both;}
body{
	background: #f6f6f6;
}
.topBar{
	width: 100%;
	height: auto;
	padding-top: 88px;
	padding-bottom: 124px;
	background: #39a3db;
}
.topBar h1{
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.defaultForm{
	margin-top: 0.7em;
}
.defaultForm input{
	width: 460px;
	height: 48px;
	float: left;
	border: 0px solid;
	outline: none;
	padding-left: 16px;
	line-height: 48px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.defaultForm input:focus{outline:none;}
.searchBtn{
	margin-left: -25px;
	width: 24px;
	height: 24px;
	line-height:48px;
	font-family: Ionicons;
	color: #39a3db;
	font-size:24px;
	float: left;
	border: 0px solid;
	outline: none;
	background: transparent;
}
.contentBody{
	margin-top: -5em;
}
.weatherInfo{
	background: #FFF;
	min-height: 170px;
	max-height: 100%;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 16px;
}
.weather, .location, .status{
	float: left;
}
.weather{
	background: #f0f0f0;
	height: 170px;
}
.weather h3{
	line-height: 170px;
	font-size: 3em;
	font-weight: 700;
	color: #3c3c3c;
	font-family: 'Roboto', sans-serif;
	opacity: 0.75;
	text-align: center;
}
.location{
	height: 170px;
	padding-top: 32px;
	padding-left: 40px;
}
.location h2{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	color: #39a3db;
}
.location p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 700;
}
.w1{color: #b30000;}
.w2{color: #4a90e2;}
.location p span{
	font-size: 0.875em;
	color: #3c3c3c;
	opacity: 0.5;
}
.status{
	height: 170px;
}